@model IEnumerable<Product>


<!-- Topbar Start -->
<div class="container-fluid">

    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Kamal</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form asp-action="Search" method="post">
                <div class="input-group">
                    <input name="name" type="text" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Customer Service</p>
            <h5 class="m-0">97243461</h5>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
    <div class="row px-xl-5">

        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/product/@item.ProductImage" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="/Home/ProductDetails/@item.ProductId"><i class="fa fa-shopping-cart"></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">@item.ProductName</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@item.Price</h5><h6 class="text-muted ml-2"><del>@item.Price</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
<!-- Products End -->

<ul class="pagination justify-content-center">
    @if (ViewBag.CurrentPage - 1 > 0)
    {
        <li class="page-item "><a class="page-link" href="/Home/Product/?pagenumber=@(ViewBag.PageCount - 1)">Previous</a></li>
    }
    @if (ViewBag.CurrentPage + 1 <= ViewBag.PageCount)
    {
        <li class="page-item"><a class="page-link" href="/Home/Product/?pagenumber=@(ViewBag.PageCount + 1)">Next</a></li>
    }
</ul>