@model Category

<div class="col-md-10 mt-4 p-auto">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Category </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary=ModelOnly class="text-danger"></div>
            <input type="hidden" asp-for=CategoryId />
            <input type="hidden" asp-for=CategoryPhoto />

            <img src="~/category/@Model.CategoryPhoto" style="width=100px;height:80px" class="img-thumbnail" alt="Category Image" />

            <div class="card-body">
                <div class="form-group">
                    <label asp-for=CategoryName for="exampleInputEmail1">Category Name</label>
                    <input asp-for=CategoryName class="form-control" placeholder="Enter category Name">
                    <span asp-validation-for=CategoryName class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for=CategoryPhoto>Category Photo</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="File" class="custom-file-input" asp-for=File>
                            <label class="custom-file-label">Choose photo</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                    <span asp-validation-for=CategoryPhoto class="text-danger"></span>

                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" asp-controller="Categories" asp-area="Admin" asp-action="Edit" class="btn btn-primary">Update</button>
                <a asp-action="Index" class="btn btn-dark">Cancel</a>
            </div>
        </form>
    </div>
    <!-- /.card -->



</div>