@model IEnumerable<Category>

<div class="col-md-10 mt-4 p-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Categories List</h3>

            <div>
                <a asp-action="Create" class="btn btn-outline-primary">Add Category</a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>

                       
                        <th>Category Name</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>@item.CategoryName</td>
                            <td>
                                <div>
                                   <img src="~/category/@item.CategoryPhoto" style="width=150px!important;height:80px" class="img-thumbnail" alt="Category Image"/>
                                </div>
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-info" asp-route-Id="@item.CategoryId">Edit</a>
                                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-Id="@item.CategoryId">Delete</a>

                            </td>
                        </tr>
                    }

                    
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- /.card -->
</div>